.teste {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1vh 1vw;
  overflow: hidden;
  padding: 1px;
  transition: 0.3s;
  width: 300px;
}

.teste img {
  border-radius: 5px;
  width: 100%;
}

.teste:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}
